.back{
	background-color: rgba(100,120,210,0.5);
}
 a:link {
  color:#f5fc83 ;
}
.p1{
	font-style: italic;
	font-size: 60px;
	background-color: rgba(100,50,120,0.5);
	 text-align: center;
	 font-weight: normal;
}
.p2{
	font-size: 16px;
	 text-align: center;
	 background-color: rgba(100,60,120,0.5);
}
.p3{
	font-size: 16px;
	 text-align: center;
	 background-color: rgb(255,0,0);
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
  <!--flex-direction: column;-->
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
 
.style1 {font-weight: bold}
body {
	background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
	url("DSC_0152.JPG");
	background-size: contain;
	background-repeat: no-repeat;
	/*background-image: url(IMAGES/DSC_0152.JPG);*/
}

